<h1>Voici ton Score</h1>
<p>Ton mot : <%= @word %></p>
<p>Time Taken to answer : <%= @result[:time] %> secondes</p>
<p>Translation : <%= @result[:translation] %> </p>
<p>Your score : <%= @result[:score] %> </p>
<p>Message : <%= @result[:message] %> </p>
</br></br>
